<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>慈善平台-以公益的方式，为世界带来更多平等的机会</title>
    <link rel="shortcut icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>

<body class="layui-layout-body">

<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo" style="font-weight: bold; font-size: 18px; margin-left: 15px" >
            慈善公益平台
        </div>

        <!-- 头部区域（可配合layui已有的水平导航） -->

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;" >
                    <img src="${pageContext.request.contextPath}/${sessionScope.managerSession.img}" class="layui-nav-img">
                    [[${session.loginUser.user_name}]]
                </a>
                                <dl class="layui-nav-child">
                                    <dd><a href="">基本资料</a></dd>
                                   <dd><a href="">安全设置</a></dd>
                                </dl>
            </li>
            <li class="layui-nav-item"><a th:href="@{/user/logout}">注销</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">

                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">个人空间</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{/user/info}" target="mainFrame">个人信息</a></dd>
                        <dd>
                            <a th:href="@{/donaItem/myItem}" target="mainFrame">
                                我的贡献
                            </a>
                        </dd>
                        <dd>
                            <a th:href="@{/dona/myDona}" target="mainFrame">我的求助</a>
                        </dd>
                    </dl>
                </li>

                <li class="layui-nav-item">
                    <a href="javascript:;">爱心项目</a>
                    <dl class="layui-nav-child">
                        <dd><a href="${pageContext.request.contextPath }/goods.do?method=typelist" target="mainFrame">
                            ？？？</a>
                        </dd>
                        <dd><a href="${pageContext.request.contextPath }/goods.do?method=goodslist&pageNum=1&typeid=0" target="mainFrame">
                            ？？？</a>
                        </dd>
                    </dl>
                </li>

                <li class="layui-nav-item">
                    <a href="javascript:;">公开募捐</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{/dona/queryState_1}">
                            参与募捐</a>
                        </dd>
                        <dd><a th:href="@{/dona/addpage}" target="mainFrame">
                            我要求助</a>
                        </dd>
                    </dl>
                </li>

                <li class="layui-nav-item">
                    <a href="javascript:;">捐款列表</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{/donaItem/allItem}" target="mainFrame">
                            捐款时讯</a>
                        </dd>
                    </dl>
                </li>

                <li class="layui-nav-item">
                    <a href="javascript:;">公益排行</a>
                    <dl class="layui-nav-child">
                        <dd><a href="${pageContext.request.contextPath }/goods.do?method=typelist" target="mainFrame">
                            排行榜</a>
                        </dd>
                    </dl>
                </li>

            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;" >
            <iframe name="mainFrame"  width="100%" height="660" frameborder="0"></iframe>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © 湖北大学18软三黄晗滨
    </div>
</div>
<script type="text/javascript" th:src="@{/layui/layui.all.js}"></script>
<script th:inline="javascript">
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
</script>
</body>
</html>