<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.test.car.dao.CompanyMapper">
    <cache eviction="FIFO" flushInterval="60000" readOnly="false" size="1024"/>
    <resultMap id="CompanyDetails" type="org.test.car.model.vo.CompanyDetailVO">
        <collection property="brandDOList" select="org.test.car.dao.BrandMapper.listByCompanyId" column="id">
        </collection>
    </resultMap>

    <select id="getCompanyDetail" resultMap="CompanyDetails">
        select *
        from company
        where id=#{id};
    </select>

    <select id="getCompany" resultType="org.test.car.model.dom.CompanyDO">
        select *
        from company
        where id=#{id};
    </select>
</mapper>