<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.test.system.dao.UserMapper">
    <select id="getByAccountAndPassword" resultType="org.test.system.pojo.model.UserDO">
        select *
        from user
        where account=#{account} and password=#{password}
        limit 1
    </select>
</mapper>